#a1{ color: black;}
.a2{ color: hwb(243 13% 11% / 0.855);}
.a3{color: hsl(46, 88%, 49%);}
#a5{color: red;background-color: rgba(240, 228, 2, 0.425);}
.a6{ color:red;}
#b{ font-family: serif; font-size: large;}